<!DOCTYPE html>
<html lang="es">
<head>
    <title>Calculadora de Huella de Carbono</title>
</head>
<body>
    <h4>-Actúa hoy para reducir tu huella de carbono:</h4>
    <ul>
        <li>Evite el plástico de un solo uso, opte por llevar su propia botella de agua.</li>
        <li>Haz del baño corto un hábito; 5 minutos son suficientes para una ducha refrescante.</li>
        <li>Limitar el consumo de productos de origen animal; Explorar opciones vegetales es una gran alternativa.</li>
        <li>Elige transporte ecológico: bicicleta, autos eléctricos o, mejor aún, caminar.</li>
        <li>Planta un árbol, un pequeño gesto con un gran impacto.</li>
    </ul>
    <img src="./des.jpg" width="55%">

    <h4>-Objetivo del Estudio o Proyecto</h4>
    <p>Objetivo del Estudio o Proyecto</p>
    <ul>
        <li>El objetivo de este proyecto es ayudar a las personas y organizaciones a medir y reducir su huella de carbono, promoviendo prácticas sostenibles para mitigar el cambio climático.</li>
    </ul>
    <img src="./ga.jpg" width="55%">

    <h4>2.¿Cómo Funciona una Calculadora de Huella de Carbono?</h4>
    <p>Una calculadora de huella de carbono transforma las actividades diarias, como el consumo de energía, transporte y alimentación, en un valor de emisiones de CO₂e, ayudando a comprender el impacto ambiental.</p>
    <ul>
        <li>Para individuos: la calculadora pregunta sobre el uso de energía en el hogar, los hábitos de transporte (frecuencia de viajes, tipo de vehículo), el consumo de alimentos y otros aspectos del estilo de vida.</li>
    </ul>
    <img src="./posh.jpg" width="55%">
</body>
</html>


