<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Huella de Carbono - Resultados</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Resultados de la Huella de Carbono</h1>
    </header>

    <section>
        <h2>Tu Huella de Carbono estimada es:</h2>
        <p id="resultados">Resultados calculados aquí...</p>
    </section>

    <footer>
        <a href="pagina2.html">Regresar al Formulario</a>
    </footer>

    <script src="script.js"></script>
</body>
</html>

