<!DOCTYPE html>
<html lang="es">
<head>
    <title>Primera pagina wed Huellas</title>
</head>
<body>
    <h1>Calculadora de Huella de Carbono</h1>
    <img src="./imgRES.JPG" width="55%">
    <h2>Esta herramienta te ayuda a medir y reducir tu impacto ambiental.</h2>
    <h4>1.¿Qué es la Huella de Carbono?</h4>
    <p>La huella de carbono es un indicador ambiental</p>
    <ul>
        <li>El término “Huella de Carbono” hace referencia a la suma de los gases de efecto invernadero que son emitidos a la atmósfera producto de la actividad humana. Estas emisiones pueden ser cuantificadas en diferentes niveles o enfoques, ya sea a nivel país, ciudad, empresa o incluso de manera individual.</li>
        <li>Se puede distinguir entre huella primaria y huella secundaria:</li>
        <li>Huella primaria: Son las emisiones directas de CO2 sobre las que se tiene control directo, como las que provienen del combustible empleado en el hogar y el transporte.</li>
        <li>Huella secundaria: Tiene en cuenta las emisiones indirectas durante todo el ciclo de vida de los productos utilizados, ya sean alimentos o tecnología. Esto incluye la manufactura, el transporte y el descarte de estos productos.</li>
        <li>Ejemplos de huella secundaria: Desde una búsqueda en Google hasta los procesos industriales de gran escala, todo puede ser evaluado mediante la huella de carbono.</li>
    </ul>

    <img src="./contaminacion-digital.jpg" width="55%">

    <h4>-Objetivo de la Calculadora de Huella de Carbono</h4>
    <p>Una calculadora de huella de carbono ayuda a medir las emisiones de gases que generamos con nuestras actividades diarias.<br>Su objetivo es concienciar sobre el impacto ambiental y ayudar a reducirlo, promoviendo un futuro más sostenible.</p>
    <img src="./nose.jpg" width="55%">
</body>
</html>


