<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora de Huella de Carbono - Introducción</title>
</head>
<body>
    <header>
        <h1>Calculadora de Huella de Carbono</h1>
        <img src="./IMAGEN.JPG.webp" width="50%">
    </header>

    <section>
        <h2>¿Qué es la Huella de Carbono?</h2>
        <p>La huella de carbono es un indicador ambiental...</p>
    </section>

    <section>
        <h2>Objetivo de la Calculadora de Huella de Carbono</h2>
        <p>Una calculadora de huella de carbono ayuda a medir las emisiones de gases...</p>
    </section>

    <section>
        <h2>Objetivo del Estudio o Proyecto</h2>
        <p>El objetivo del estudio o proyecto es investigar y proponer soluciones...</p>
    </section>

    <footer>
        <a href="/pagina2">Ir a la Calculadora</a>
    </footer>
</body>
</html>

